.seccionVisible {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.general {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.general1 {
    background-color:black;
}

.general2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: black;

}

.general3 {
    background-color: black;
}

.general4 {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    background-color: aquamarine;
    position: absolute;
}

.general5 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: brown;
    position: absolute;
}

.fondoStart {
    height: 70%;
    width: 70%;
}

.buttonStart {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 3em;
    background-color: black;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.fondoPreFight {
    position: absolute;
    width: 100%;
    height: 100%;
}

.player1Selected {
    height: 40%;
    width: 60%;
    z-index: 1;
    align-self: flex-start;
}

.vs {
    font-family: 'Press Start 2P', cursive;
    color: red;
    font-size: 3em;
    z-index: 1;
}

.player2Selected {
    height: 40%;
    width: 60%;
    z-index: 1;
    align-self: flex-end;
}
.buttonFight {
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 3em;
    background-color: black;
    animation: blinker 1s linear infinite;
    z-index: 1;
    align-self: unset;
}

.charactersZoom{
    text-align: center;
    font-size: 5em;
    font-family: 'Press Start 2P', cursive;
    color: red;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 60%;
    width: 70%;
}

.player5Selected{
    height: 30%;
    width: 30%;
}
.characters{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    height: 30%;
    width: 50%;
}


.fondoArena{
    position: absolute;
    height: 100%;
    width: 100%;
}

.initFight{
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 3em;
    background-color: black;
    animation: blinker 1s linear infinite;
    z-index: 1;
    align-self: flex-end;
}

.cajita{
    width: 25%;
}
.player3Selected{
    align-self: flex-end;
    z-index: 2;
}

.player4Selected{
    align-self: flex-end;
    z-index: 2;
}

.eddy{
    cursor: pointer;
    margin: 1em;
}

.hwoarang{
    cursor: pointer;
    margin: 1em;
}

.xiaoyu{
    cursor: pointer;
    margin: 1em;
}

.yoshimitsu{
    cursor: pointer;
    margin: 1em;
}

.Restart{
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: orange;
    font-size: 3em;
    background-color: black;
    animation: blinker 1s linear infinite;
    z-index: 1;
    align-self: center;
}

.youWin{
    font-size: 4em;
    font-family: 'Press Start 2P', cursive;
    color: red;
    z-index: 1;
}

.cajita2{
    height: 15%;
}
